OPENAI_API_KEY=
CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=
PRAVA_API_KEY=
PRAVA_SECRET_KEY=
PRAVA_PUBLISHABLE_KEY=
PRAVA_BASE_URL=https://api.prava.space
PRAVA_IFRAME_URL=https://collect.prava.space
PRAVA_ENV=sandbox
DATABASE_URL=
